.footerBar {
  position: fixed;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0;
  left: 1rem;
  right: 1rem;
}

.attributesBar {
  display: inline-flex;

}

.row {
  display:flex;
  align-items: space-between;
  min-height: 2rem;

}

.left {
  display: inline-flex;
  margin-left: 0;
}

.right {
  display: inline-flex;
  margin-right: 0;
}
