/* ===== == = === 20em (320px) === = == ===== */
@custom-media --xs-screen only screen and (width >= 20em);

/* ===== == = === 30em (480px) === = == ===== */
@custom-media --sm-screen only screen and (width >= 30em);

/* ===== == = === 37.5em (600px) === = == ===== */
@custom-media --md-screen only screen and (width >= 37.5em);

/* ===== == = === 48em (768px) === = == ===== */
@custom-media --lg-screen only screen and (width >= 48em);

/* ===== == = === 56.25em (900px) === = == ===== */
@custom-media --xl-screen only screen and (width >= 56.25em);

/* ===== == = === 68.75em (1100px) === = == ===== */
@custom-media --2x-screen only screen and (width >= 68.75em);

/* ===== == = === 81.25em (1300px) === = == ===== */
@custom-media --3x-screen only screen and (width >= 81.25em);


:global body {
  background-color: rgb(100, 100, 100);
  margin: 0px;
  padding: 0px;
}

.app {
  width: 100%;

  @media (--lg-screen) {
    width: 90%;
    margin-left: 5%;
  }

  @media (--xl-screen) {
    width: 84%;
    margin-left: 8%;
  }

  @media (--2x-screen) {
    width: 82%;
    margin-left: 9%;
  }

  @media (--3x-screen) {
    width: 80%;
    margin-left: 10%;
  }
}
