/** xs-screen | 320px  */ @custom-media --xs-screen only screen and (width >= 20em);
/** sm-screen | 480px  */ @custom-media --sm-screen only screen and (width >= 30em);
/** md-screen | 600px  */ @custom-media --md-screen only screen and (width >= 37.5em);
/** lg-screen | 768px  */ @custom-media --lg-screen only screen and (width >= 48em);
/** xl-screen | 900px  */ @custom-media --xl-screen only screen and (width >= 56.25em);
/** 2x-screen | 1100px */ @custom-media --2x-screen only screen and (width >= 68.75em);
/** 3x-screen | 1300px */ @custom-media --3x-screen only screen and (width >= 81.25em);

/*
.item > *:first-child {

  max-height: calc(100% - 0.5em);
  margin: 0 0.5em 0.5em 0;
  overflow: auto;

  @media (--lg-screen) {
    border-radius:4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(40, 40, 40);
  }

  &::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
    background-color: rgb(10, 160, 217);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(10, 160, 217);
  }
}

*/
