.maximize > .maximizeChildren {
  animation-duration: 200ms;
  animation-name: to-maximize;
  animation-timing-function: ease-out;
}

.restore > .maximizeChildren {
  animation-duration: 200ms;
  animation-name: to-restore;
  animation-timing-function: ease-out;
}

.maximizeChildren {
  left: 0;
  right: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}

@keyframes to-maximize {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}


@keyframes to-restore {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}
