.printInfoPopover div.popover {
    width:700px;
    max-height:800px;
    overflow-x: hidden;
    overflow-y: auto;
}

.printInfoPopover .popover {
    width:385px !important;
    max-width:385px !important;
}

.scanInfoPopover div.popover {
    width:700px;
    max-height:800px;
    overflow-x: hidden;
    overflow-y: auto;
}

.scanInfoPopover .popover {
    width:489px !important;
    max-width:489px !important;
}

.orgInfoPopover div.popover {
    width:700px;
    max-width:800px;
    height:auto;
    word-wrap: break-word;
}

.orgInfoPopover .popover-content {
    padding: 0px 14px;
}

.orgInfoPopover .popover {
  top:0px !important;
  width:500px !important;
}

.orgInfoPopover .popover.left > .arrow {
   display:none !important;
}


div.popover {
    width:700px;
    max-width:800px;
    height:auto;
    word-wrap: break-word;
}

.popover-content {
    padding: 0px 14px;
}

.popover {
  top:50px !important;
  width:500px !important;
}

.popover.left > .arrow {
   display:none !important;
}